@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Squada+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-1 {
    border-width: 1px;
  }
  .sidebar::after {
    width: 1px;
    height: 100px;
    display: block;
    content: '';
    background-color: #ededed;
  }
}

@layer components {
  .social-icons {
    @apply text-white lg:mb-4;
  }
  .social-icon {
    @apply inline-block transition duration-200 ease-linear transform hover:-translate-y-1 hover:text-secondary focus:-translate-y-1 focus:text-secondary;
  }
}

html,
body {
  height: 100%;
}
